<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <h4>プロフィール</h4>
  <h5><%= @user.introduction %></h5>
  <h4>目標</h4>
  <h5><%= @user.goal %></h5>
</div>

<% @posts.each do |post| %>
  <p>ユーザーネーム:<%= post.user.name %></p>
  <p><%= post.body %></p>
  <% if @user == current_user %>
    <%= button_to "削除", post_path(post), method: :delete %>
  <% end %>
<% end %>

<%= link_to "投稿する", new_post_path %>